<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.robwilliams.pack" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <provider
            android:name=".data.ListContentProvider"
            android:authorities="me.robwilliams.pack.lists.contentprovider" >
        </provider>
        <provider
            android:name=".data.ItemContentProvider"
            android:authorities="me.robwilliams.pack.list_items.contentprovider" >
        </provider>
        <provider
            android:name=".data.SetContentProvider"
            android:authorities="me.robwilliams.pack.listsets.contentprovider" >
        </provider>
        <provider
            android:name=".data.ListsetListContentProvider"
            android:authorities="me.robwilliams.pack.listset_lists.contentprovider" >
        </provider>
        <provider
            android:name=".data.TripContentProvider"
            android:authorities="me.robwilliams.pack.trips.contentprovider" >
        </provider>
        <provider
            android:name=".data.TripSetContentProvider"
            android:authorities="me.robwilliams.pack.trip_listsets.contentprovider" >
        </provider>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListOverviewActivity"
            android:label="@string/title_activity_list_overview"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.robwilliams.pack.MainActivity" />
        </activity>
        <activity
            android:name=".ListDetailActivity"
            android:label="@string/title_activity_list_detail"
            android:parentActivityName=".ListOverviewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.robwilliams.pack.ListOverviewActivity" />
        </activity>
        <activity
            android:name=".ListItemDetailActivity"
            android:label="@string/title_activity_list_item_detail"
            android:parentActivityName=".ListDetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.robwilliams.pack.ListDetailActivity" />
        </activity>
        <activity
            android:name=".SetOverviewActivity"
            android:label="@string/title_activity_set_overview"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.robwilliams.pack.MainActivity" />
        </activity>
        <activity
            android:name=".SetDetailActivity"
            android:label="@string/title_activity_set_detail"
            android:parentActivityName=".SetOverviewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.robwilliams.pack.SetOverviewActivity" />
        </activity>
        <activity
            android:name=".TripOverviewActivity"
            android:label="@string/title_activity_trip_overview"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.robwilliams.pack.MainActivity" />
        </activity>
    </application>

</manifest>
